/* your code */
body{
	 background-color: f4f6f8;
	display: flex;
	justify-content : center;
	text-align: center;
	height: 100vh
}
table 
{
	width: 70%;
	border-collapse: collapse;
	  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
      background-color: white;
    }

    thead {
      background-color: #0074D9;
      color: white;
    }

    th, td {
      border: 1px solid #ddd;
      padding: 12px 15px;
      text-align: center;
    }

    th {
      text-transform: uppercase;
      letter-spacing: 0.05em;
    }

    tr:nth-child(even) {
      background-color: #f2f2f2;
    }

    tr:hover {
      background-color: #dff0ff;
      transition: 0.3s;
    }

    caption {
      caption-side: top;
      font-size: 1.5em;
      font-weight: bold;
      margin-bottom: 10px;
      color: #333;
    }
}